<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Movies</title>
        <link rel="stylesheet" href="/css/rent.css">
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="/">Movies</a>
                    </li>
                    <li class="main-header__item">
                        <a class="active" href="/rent-movies"
                            >Add Movies</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <form class="product-form" action="/rent-movies" method="post">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" />
                </div>

                <button type="submit">Add Movies</button>
            </form>
        </main>
    </body>
</html>